body{
    margin: 0px;
}

#glance_bookmarklet_holder{

    box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    background-color: #002b36;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999999999999;
    /* 600px+; small tablet portrait */
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    min-height: 166px;
}

#glance_bookmarklet_spacer{
    width: 100%;
    /* 600px+; small tablet portrait */
    min-height: 210px;
}

#glance_bookmarklet_container{
    background-color: #002b36;
    color: #839496;
    /* 600px+; small tablet portrait */
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    line-height: 43px;
}

#glance_bookmarklet_result{
    text-align: center;
    font-family: 'Droid Sans Mono', sans-serif;
    /* 600px+; small tablet portrait */
    padding-top: 9px;
    padding-bottom: 9px;
    min-height: 40px;
    font-size: 32px;
    white-space: nowrap;
}

#guide_top, #guide_bottom{
    text-align: left;
    font-family: 'Droid Sans Mono', sans-serif;
    color: #839496;
    /* 600px+; small tablet portrait */
    font-size: 32px;
    color: #586e75;
}
#guide_top {
    border-style: none;
    border-bottom: 2px solid #586e75;
}
#guide_bottom {
    border-style: none;
    border-top: 2px solid #586e75;
    line-height: 32px;
}

#notch{
    text-align: center;
    font-family: 'Droid Sans Mono', sans-serif;
    color: #839496;    
    /* 600px+; small tablet portrait */
    margin-top: 9px;
    padding-top: 12px;
    font-size: 32px;
}

#glance_bookmarklet_credits{
    font-family: 'Droid Sans Mono', sans-serif;
    /* 600px+; small tablet portrait */
    font-size: 13px;
    right: 8px;
    bottom: 8px;
    position: absolute;
}

#glance_bookmarklet_credits a{
    color: #839496;
    text-decoration: none;
}

#glance_bookmarklet_selector, #glance_bookmarklet_toggle{
    color: #839496;    
    background-color: #002b36;
    position: absolute;
    bottom: 8px;
    left: 8px;
    width: 100px;
    height: 22px;
}
#glance_bookmarklet_toggle {
    left: 116px;
}

.invisible{
    font-family: 'Droid Sans Mono', sans-serif;
    color: #002b36;
    position: static;
}

.start, .pivot, .end, .glance_bookmarklet_start, .glance_bookmarklet_pivot, .glance_bookmarklet_end{
    color: #839496;
    text-align: center;
    font-family: 'Droid Sans Mono', sans-serif;
    /* 600px+; small tablet portrait */
    font-size: 32px;
}
.pivot, .glance_bookmarklet_pivot{
    color: #dc322f;
}

@media (max-width: 599px) {

    #glance_bookmarklet_holder{
        width: 320;
        padding-top: 4px;
        padding-bottom: 6px;
        margin-bottom: 6px;
        min-height: 88px;
    }

    #glance_bookmarklet_spacer{
        min-height: 105px;
    }

    #glance_bookmarklet_container{
        width: 320px;
        margin-left: auto;
        margin-right: auto;
        line-height: 22px;
    }

    #glance_bookmarklet_result{
        min-height: 22px;
        font-size: 22px;
        padding-top: 11px;
        padding-bottom: 6px;
    }

    #guide_top, #guide_bottom{
        font-size: 22px;
    }

    #notch{
        margin-top: 6px;
        padding-top: 8px;
        font-size: 22px;
    }

    #glance_bookmarklet_credits{
        font-size: 10px;
    }

    .start, .pivot, .end, .glance_bookmarklet_start, .glance_bookmarklet_pivot, .glance_bookmarklet_end{
        font-size: 22px;
    }

}
